# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
~$Présentation1.pptx
version1.pptx
version2.pptx
Présentation1.pptx
~$version2.pptx
src/medias/images/old/arbres.jpg
src/medias/images/old/cote.jpg
src/medias/images/old/fort-lalatte.jpg
src/medias/images/old/Fylo_desktop.png
src/medias/images/old/hamonet_desktop.png
src/medias/images/old/intro.jpg
src/medias/images/old/plage.jpg
src/medias/images/old/portrait.png
src/medias/images/old/socialproof_desktop.png
src/medias/images/old/teleworking_desktop.png
src/medias/images/old/tindog_desktop.png
