h1 {
  margin: 0 auto;
  font-family: "Caveat Brush", cursive;
  color: #66bfbf;
}

h2 {
  margin-top: 0;
  color: #66bfbf;
  font-weight: bold;
  text-align: center;
  font-size: calc(2vw + 3rem);
}

h3 {
  color: #11999e;
  font-size: calc(1vw + 1.5rem);
}

p {
  line-height: 2;
  font-weight: 500;
  font-size: calc(0.5vw + 1rem);
}

.hr {
  border: none;
  border-top: thick dotted grey;
  margin: 100px auto;
  width: 4%;
}

a {
  color: #11999e;
}

.top-title {
  font-size: calc(4vw + 2rem);
  color: white;
  text-shadow: 10px 10px 1px mediumaquamarine;
}

.top-subtitle {
  font-weight: bold;
  color: white;
  font-size: calc(1vw + 1rem)
}

.intro-logo {
  width: calc(4vw + 2rem);
  margin: 0 calc(2vw + 2rem);
  margin-top: -0.5ex;
  vertical-align: middle;
}

#videowrapper {
  position: relative;
  overflow: hidden;
}

#fullScreenDiv {
  min-height: 100%;
  height: 50vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: gray;
  position: relative;
}

#video {
  width: 100vw;
  height: auto;
  margin: auto;
  display: block;
  position: relative;
  top: -200px;
}
@media (min-aspect-ratio: 16/9) {
  #video {
    width: 100vw;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video {
    height: 100vh;
    width: auto;
    margin-left: 50vw;
    transform: translate(-50%);
  }
}

#videoMessage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}



.profile {
  margin: 100px auto 100px auto;
}

.portrait {
  width: 50vw;
  max-width: 400px;
  margin: 0 auto 50px auto;
}

.logo {
  width: 200px;
  padding: 200px 0;
  margin: 100px auto 100px auto;
}

.intro {
  width: 60%;
  margin: auto auto;
}

.transition {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 30vh;
  background-attachment: fixed;
}

.transition.first {
  background-image: url("../medias/images/fort-lalatte.jpg");
}
.transition.second {
  background-image: url("../medias/images/cote.jpg");
}
.transition.third {
  background-image: url("../medias/images/plage.jpg");
}
.contact-me {
  margin: 50px 20px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 0 20px;
}

.skills {
  max-width: 1500px;
  margin: 100px auto 50px auto;
}

.skill-row {
  margin: 50px 20px;
  text-align: left;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.skill-row--reverse {
  flex-wrap: wrap-reverse;
}

.skill-text {
  max-width: 800px;
  margin: 50px 0;
}

.skill-image {
  max-width: 80vw;
  max-height: 300px;
  margin: 10px 50px;
}

.portfolio {
  max-width: 1500px;
  margin: 100px auto 50px auto;
}

.portfolio-row {
  margin: 50px 20px;
  text-align: left;
 
}

.portfolio-img-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}


.portfolio--reverse {
  flex-wrap: wrap-reverse;
}

.portfolio-text {
  margin: 50px 0;
}

.portfolio-image {
  margin: 10px 50px;
  max-width: 90vw;
}

.carousel .slide{ background: none; }

.btn {
  background-color: #66bfbf;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 16px 46px;
  text-decoration: none;
  margin-bottom: 50px;
  margin-top: 50px;
}
.btn:hover {
  background-color: #254646;
}
.btn:active {
  position: relative;
  top: 1px;
}

.footer-link {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}

.linkedin {
  width: 5%;
  margin-top: 10px;
}

.copyright {
  color: white;
  font-size: small;
  margin: 10px;
}



