/*----------------------------------------------------------global styling-----------------------------------------------------*/

h1 {
  margin: 0 auto;
  font-family: "Calibri";
  color: #66bfbf;
}

h2 {
  margin-top: 0;
  color: lightseagreen;
  font-weight: bold;
  text-align: center;
  font-size: calc(2vw + 2rem);
}

h3 {
  color: #66bfbf;
  font-size: calc(1vw + 1.5rem);
}

p {
  line-height: 2;
  font-weight: 500;
  font-size: calc(0.5vw + 1rem);
}

.hr {
  border: none;
  border-top: thick dotted grey;
  margin: 100px auto;
  width: 4%;
}

a {
  color: #11999e;
}

.btn {
  background-color: #66bfbf;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;

  padding: 20px;
}

/*----------------------------------------------------------transition-----------------------------------------------------*/

.transition {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 70vh;
  background-attachment: fixed;
  position: relative;
}

.transition__logo {
  margin: 30vh auto;
  max-width: 200px;
}

.transition.first {
  background-image: url("../medias/images/fort-lalatte.jpg");
}
.transition.second {
  background-image: url("../medias/images/cote.jpg");
}
.transition.third {
  background-image: url("../medias/images/plage.jpg");
}

/*----------------------------------------------------------Introduction-----------------------------------------------------*/

.top-container {
  margin: 20vh auto;
  position: "absolute";
  top: "50%";
  left: "50%";
  width: 70%;
  min-height: 80vh;
}

.top-title {
  font-size: calc(4vw + 2rem);
  color: white;
}

.top-name {
  font-family: "-apple-system";
  color: #67cdaa;
}

.top-subtitle {
  font-weight: bold;
  color: white;
  font-size: calc(1vw + 1rem);
}

.intro-logo {
  width: calc(4vw + 2rem);
  margin: 0 calc(2vw + 2rem);
  margin-top: -0.5ex;
  vertical-align: middle;
}

/*----------------------------------------------------------solution-----------------------------------------------------*/

.solution-ask {
  color: grey;
  margin: 100px auto 50px;
}

.solution-answer {
  margin: 50px auto 100px;
}

.card-grid {
  display: flex;
  justify-content: space-around;
  max-width: 1400px;
  margin: 100px auto;
}

@media screen and (max-width: 1400px) {
  .card-grid {
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 0 40px;
  flex: 1;
}

.card__icon {
  max-width: 200px;
  max-height: 200px;
}

.card__title {
  font-size: 3rem;
  font-weight: bold;
  color: grey;
}

.card__description {
  font-size: 2rem;
  font-weight: normal;
  color: grey;
  min-height: 100px;
}

/*----------------------------------------------------------offers-----------------------------------------------------*/

.offer-container {
  margin: 100px 0;
}

.offer-card {
  padding: 30px;
  margin: 30px;
  flex: 1;
  text-align: left;
  border: 2px solid #66bfbf;
  border-radius: 20px;
}

.offer-card__name {
  text-align: center;
}

@media screen and (min-width: 1400px) {
  .offer-card__content {
    min-height: 100px;
  }

  .offer-card__interest {
    min-height: 150px;
  }
  .offer-card__features {
    min-height: 220px;
  }
}

.offer-card__icon {
  width: 1.5rem;
  display: inline-block;
  position: relative;
  top: 3.7px;
  right: 7px;
}

.offer-card__content,
.offer-card__details {
  font-weight: bold;
}

.offer-card__btncontainer {
  text-align: center;
}

.offer-btn {
  font-size: 2rem;
  text-align: center;
  min-width: 30%;
  margin: 0 auto;
}

.contact-me {
  margin: 50px 20px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 0 20px;
}

/*----------------------------------------------------------skills-----------------------------------------------------*/

.skill-stack {
  color: grey;
  margin: 100px auto;
}
.skills {
  max-width: 1400px;
  margin: 100px auto;
}

.skill-row {
  margin: 50px 20px;
  text-align: left;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: center;
}

.skill-row--reverse {
  flex-wrap: wrap-reverse;
}

.skill-name {
  font-weight: bold;
  color: #66bfbf;
}

.skill-name--special {
  color: #11999e;
  background-color: #ffff00;
}

.skill-text {
  max-width: 800px;
  margin: 50px 0;
}

.skill-image {
  margin: 0 50px;
  max-width: 50vh;
  flex: 1;
}

/*----------------------------------------------------------portfolio-----------------------------------------------------*/

.portfolio {
  max-width: 80%;
  margin: 100px auto 50px auto;
}

.carousel .slide {
  background: none;
}

/*----------------------------------------------------------Contact-----------------------------------------------------*/

.btn--contact {
  margin-bottom: 50px;
  margin-top: 50px;
}

.btn--contact:hover {
  background-color: #254646;
}
.btn--contact:active {
  position: relative;
  top: 1px;
}

/*----------------------------------------------------------Footer-----------------------------------------------------*/
.footer-link {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}

.linkedin {
  width: 5%;
  margin-top: 10px;
}

.copyright {
  color: white;
  font-size: small;
  margin: 10px;
}

